.center {
  flex-direction: column;
  justify-content: center;
  display: flex;
}
.grid-container {
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 0;
  justify-content: center;
}

.grid-item {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 48px;
}

header {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}

.winner {
  opacity: 0;
  text-align: center;
  padding: 10px 0;
}

.players {
  display: flex;
  text-align: center;
  justify-content: center;
}

.player1,
.player2 {
  padding: 15px 0;
}

.player1 {
  padding-right: 25px;
}

.player2 {
  padding-left: 25px;
}

.player1-name,
.player1-type,
.player2-name,
.player2-type {
  padding: 5px;
}
